# Have a look at the docs for documentation.
# https://paperless-ngx.readthedocs.io/en/latest/configuration.html

# Debug. Only enable this for development.

PAPERLESS_DEBUG=false

# Required services

PAPERLESS_REDIS=redis://localhost:6379/__REDIS_DB__

PAPERLESS_DBHOST=localhost
PAPERLESS_DBPORT=5432
PAPERLESS_DBNAME=__DB_NAME__
PAPERLESS_DBUSER=__DB_USER__
PAPERLESS_DBPASS=__DB_PWD__
#PAPERLESS_DBSSLMODE=prefer

# Paths and folders

PAPERLESS_SCRATCH_DIR=/tmp/__APP__
PAPERLESS_CONSUMPTION_DIR=__DATA_DIR__/consume
PAPERLESS_DATA_DIR=__DATA_DIR__/data
#PAPERLESS_TRASH_DIR=
PAPERLESS_MEDIA_ROOT=__DATA_DIR__/media
#PAPERLESS_STATICDIR=../static
#PAPERLESS_FILENAME_FORMAT=
PAPERLESS_NLTK_DIR=__INSTALL_DIR__/nltk_data

# Security and hosting

PAPERLESS_URL=https://__DOMAIN__
PAPERLESS_SECRET_KEY=__PAPERLESS_SECRET_KEY__
PAPERLESS_ALLOWED_HOSTS=__DOMAIN__
PAPERLESS_CORS_ALLOWED_HOSTS=https://__DOMAIN__
#PAPERLESS_FORCE_SCRIPT_NAME=
#PAPERLESS_STATIC_URL=/static/
#PAPERLESS_AUTO_LOGIN_USERNAME=
#PAPERLESS_COOKIE_PREFIX=
#PAPERLESS_ENABLE_HTTP_REMOTE_USER=false

# OCR settings

PAPERLESS_OCR_LANGUAGE=__OCR_LANGUAGE__
#PAPERLESS_OCR_MODE=skip
#PAPERLESS_OCR_OUTPUT_TYPE=pdfa
#PAPERLESS_OCR_PAGES=1
#PAPERLESS_OCR_IMAGE_DPI=300
#PAPERLESS_OCR_CLEAN=clean
#PAPERLESS_OCR_DESKEW=true
#PAPERLESS_OCR_ROTATE_PAGES=true
#PAPERLESS_OCR_ROTATE_PAGES_THRESHOLD=12.0
#PAPERLESS_OCR_USER_ARGS={}
#PAPERLESS_CONVERT_MEMORY_LIMIT=0
#PAPERLESS_CONVERT_TMPDIR=/var/tmp/paperless

# Software tweaks

#PAPERLESS_TASK_WORKERS=1
#PAPERLESS_THREADS_PER_WORKER=1
PAPERLESS_TIME_ZONE=__TIMEZONE__
#PAPERLESS_CONSUMER_POLLING=10
#PAPERLESS_CONSUMER_DELETE_DUPLICATES=false
#PAPERLESS_CONSUMER_RECURSIVE=false
PAPERLESS_CONSUMER_IGNORE_PATTERNS=[".DS_STORE/*", "._*", ".stfolder/*", ".*"]
#PAPERLESS_CONSUMER_SUBDIRS_AS_TAGS=false
#PAPERLESS_OPTIMIZE_THUMBNAILS=true
#PAPERLESS_PRE_CONSUME_SCRIPT=/path/to/an/arbitrary/script.sh
#PAPERLESS_POST_CONSUME_SCRIPT=/path/to/an/arbitrary/script.sh
#PAPERLESS_FILENAME_DATE_ORDER=YMD
#PAPERLESS_FILENAME_PARSE_TRANSFORMS=[]
#PAPERLESS_THUMBNAIL_FONT_NAME=
#PAPERLESS_IGNORE_DATES=

# Tika settings

#PAPERLESS_TIKA_ENABLED=false
#PAPERLESS_TIKA_ENDPOINT=http://localhost:9998
#PAPERLESS_TIKA_GOTENBERG_ENDPOINT=http://localhost:3000

# Binaries

#PAPERLESS_CONVERT_BINARY=/usr/bin/convert
PAPERLESS_GS_BINARY=__INSTALL_DIR__/bin/gs
#PAPERLESS_OPTIPNG_BINARY=/usr/bin/optipng

# Email sending

PAPERLESS_EMAIL_HOST=localhost
PAPERLESS_EMAIL_PORT=25
PAPERLESS_EMAIL_HOST_USER=__APP__
PAPERLESS_EMAIL_FROM=__APP__@__DOMAIN__
PAPERLESS_EMAIL_HOST_PASSWORD=__MAIL_PWD__
PAPERLESS_EMAIL_USE_TLS=false
PAPERLESS_EMAIL_USE_SSL=false

# YunoHost tweaks

PAPERLESS_LOGOUT_REDIRECT_URL=https://__MAIN_DOMAIN__/yunohost/sso/?action=logout
